# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log

# Environments
.env
venv/
env/
.venv/
ENV/

# Jupyter
.ipynb_checkpoints

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Build
build/
dist/
*.egg-info/
.cache/
.eggs/

# Data/Runtime
*.db
*.sqlite
*.pdf
faiss_index/
data/
docs/
*.zip
*.tar.gz

# Streamlit
.streamlit/secrets.toml

# System
.DS_Store
Thumbs.db
